<ion-header>
  <ion-toolbar color="primary"><br>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;"><img class="center-image" src="/assets/lis.jpg"  width="20%"><br>Management Of Science</ion-title><br>
  </ion-toolbar>
</ion-header>


<ion-content class="test-background">
<ion-card>
  <ion-card-header><!-- 
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <!-- <ion-card-title>Materi</ion-card-title> -->
  </ion-card-header>

  <ion-card-content style="text-align: justify;">
    <ion-text style="color: black;">
    Scientific Management adalah manajemen yang menggunakan ilmu dan scientifix method. Sedangkan Scientific method adalah suatu pendekta yang tepat terhadap suatu onjek ilmu yang tujuan utamanya ialah untuk menambah pengetahuan yang sudah ada. <br> 

    Ciri-ciri Management Of Science sebagai berikut : <br>

  	1. Tersusun secara sistematis atau teratur. <br>
  	2. Dapat dipelajari dan diajarkan.<br>
  	3. Menggunakan metode-metode ilmiah.<br>
  	4. Dapat dijadikan suatu teori.<br>
  	5. Objektif dan rasional.<br><br>

  	Tujuan Utama dari Management Of Science adalah untuk menyelesaikan masalah-masalah yang dihdadapi oleh seorang manager baik yang bergerak dalam sektor publik maupun swasta dalam proses pengambilan keputusan dengan cara pendekatan model-model matematika.  
  	

    </ion-text>
  </ion-card-content>
</ion-card>
</ion-content>