<ion-header>
  <ion-toolbar color="primary"><br>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;"><img class="center-image" src="/assets/alam.jpg"  width="20%"><br>Computer Architecture</ion-title><br>
  </ion-toolbar>
</ion-header>


<ion-content class="test-background">
<ion-card>
  <ion-card-header><!-- 
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <!-- <ion-card-title>Materi</ion-card-title> -->
  </ion-card-header>

  <ion-card-content style="text-align: justify;">
    <ion-text style="color: black;">
    A. Penjelasan tentang arsitektur komputer<br>

	Arsitektur komputer adalah dapat dikategorikan sebagai ilmu dan sekaligus sebagai suatu seni mengenai cara interkoneksi antara berbagai komponen perangkat keras atau hardware untuk dapat menciptakan sebuah komputer yang dapat memenuhi kebutuhan fungsional, kinerja, dan juga target biayanya.<br>

	Dalam bidang teknik komputer, definisi arsitektur komputer adalah suatu konsep perencanaan dan juga struktur pengoperasian dasar dari suatu sistem komputer atau ilmu yang bertujuan untuk perancangan sistem komputer.<br>

	Arsitektur von Neumann (atau Mesin Von Neumann) adalah arsitektur yang diciptakan oleh John von Neumann [1903 – 1957]. Arsitektur ini digunakan oleh hampir pada semua komputer pada saat ini. Arsitektur Von Neumann ini menggambarkan komputer dengan 4 (empat) bagian utama, yaitu: Unit Aritmatika & Logis (ALU), unit kontrol, memori, & alat masukan & hasil (secara kolektif dinamakan I/O). Bagian tersebut dihubungkan oleh berkas kawat, “bus”.<br>

	B. 3 sub-kategori arsitektur komputer<br>

	Arsitektur komputer ini mengandung 3 (tiga) sub-kategori, diantaranya meliputi:<br>

	1. Set intruksi (ISA).<br>
	2. Arsitektur mikro dari ISA, dan juga<br>
	3. Sistem desain dari semua atau seluruh komponen dalam perangkat keras (hardware) komputer ini.<br><br>
	Arsitektur Komputer yaitu desain komputer yang meliputi:<br>

	1. Set instruksi.<br>
	2. Komponen hardware (perangkat keras).<br>
	3. Organisasi atau susunan sistemnya.<br>

    </ion-text>
  </ion-card-content>
</ion-card>
</ion-content>