<ion-header>
  <ion-toolbar color="primary"><br>
    <ion-title style="text-align: center;"><img src="/assets/ica.jpg" style="border-radius:100px" width="20%"><br>Erisya Lastrini</ion-title><br>
  </ion-toolbar>
</ion-header>

<ion-content class="test-background">
<div class="container">
  <img src="/assets/ica.jpg" alt="Avatar">
  <p>Assalamualaikum</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="/assets/alfia.jpg" alt="Avatar" class="right" alt=""/>
  <p>Waalaikumsalam, ada yang bisa saya bantu?</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="/assets/ica.jpg" alt="Avatar">
  <p>Apakah STIKOM masih membuka pendaftaran mahasiswa baru?</p>
  <span class="time-right">11:02</span>
</div>

<div class="container darker">
  <img src="/assets/alfia.jpg" alt="Avatar" class="right" alt=""/>
  <p>Tentu saja masih, pendaftaran paling lambat tanggal 15 September 2019.</p>
  <span class="time-left">11:05</span>
</div>

<ion-item>
    <ion-input type="Text Input" placeholder="Type a message"><ion-icon name="happy"></ion-icon></ion-input>
  </ion-item>
  <ion-button color="tertiary">Kirim</ion-button>

</ion-content>
