<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title style="text-align: center;">
    <img class="center-image" src="/assets/anggra.jpg"  width="20%"><br>Programming Fundamental
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="test-background">
<ion-card>
  <ion-card-header><!-- 
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <!-- <ion-card-title>Materi</ion-card-title> -->
  </ion-card-header>

  <ion-card-content style="text-align: justify;">
    <ion-text style="color: black;">
    Visual Basic adalah program untuk membuat aplikasi berbasis miscrosoft windows secara cepat dan mudah. visual basic menyediakan tool untuk membuat aplikasi yang sederhana sampai aplikasi kompleks atau rumit untuk perusahaan atau instansi dengan istem  yang lebih besar. <br> 

    Komponen Visual Basic yaitu : <br>

  	a. Title Bar adalah judul dari project yang sedang dijalankan. <br>
  	b. Menu Bar adalah kumpulan perintah-perintah yang dikelompokan berdasarkan fungsinya masing-masing.<br>
  	c. ToolBox adalah tempat obej-objek yang bisa langsung didrag lalu di drop ke form windows.<br>
  	d. Project Explorer adalah jendela yang mengandung semua file didalam aplikasi Visual Basic.<br>
  	e. Properties Windows adalah sebuah windows yang mengandung semua informasi mengenai objek yang terdapat pada aplikasi visual basic.<br>
  	f. Form Windows adalah tempat untuk mendeain tampilan visual dari suatu aplikasi, objek disiman di form windows yang diambil dari toolbox. 
    </ion-text>
  </ion-card-content>
</ion-card>
</ion-content>

<ion-footer color="primary"></ion-footer>