

<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      STIKOM BINANIAGA BOGOR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

<!-- List of Text Items -->
<ion-list>
  <ion-item class="test-background">
    <img class="center-image" src="/assets/anggra.jpg" width="20%" alt=""/>
    <ion-label>Anggra Triawan, S.Kom, M.Kom<br>Programming Fundamental<br>
    <ion-button shape="round" color="tertiary" fill="outline" (click)="openPL()">Lihat Materi</ion-button></ion-label>  
  </ion-item>

  <ion-item class="test-background">
    <img class="center-image" src="/assets/lis.jpg" width="20%" alt=""/>
    <ion-label>Lis Utari, M.Kom<br>Management Of Science<br>
    <ion-button shape="round" color="tertiary" fill="outline" (click)="openMS()">Lihat Materi</ion-button></ion-label>    
  </ion-item>

  <ion-item class="test-background">
    <img class="center-image" src="/assets/alam.jpg" width="20%" alt=""/>
    <ion-label>Alam Supriyatna, Ir., M.MSI<br>Computer Architecture<br>
    <ion-button shape="round" color="tertiary" fill="outline" (click)="openCA()">Lihat Materi</ion-button></ion-label>   
  </ion-item>

  <ion-item class="test-background">
    <img class="center-image" src="/assets/syafrial.jpg" alt=""/>
    <ion-label>Syafrial, S.Kom, MM<br>Database Management System<br>
    <ion-button shape="round" color="tertiary" fill="outline" (click)="openDBMS()">Lihat Materi</ion-button></ion-label> 
  </ion-item>

  
  <ion-item class="test-background">
    <img class="center-image" src="/assets/julio.jpg" width="20%" alt=""/>
    <ion-label>Julio Warmansyah, S.Kom, MMSI.<br>Human Interaction<br>
    <ion-button shape="round" color="tertiary" fill="outline" (click)="openHI()">Lihat Materi</ion-button></ion-label>
  </ion-item>

  <ion-item class="test-background">
    <img class="center-image" src="/assets/irma.jpg" width="20%" alt=""/>
    <ion-label>Irmayansyah, M.Kom<br>Information System Analysis Design<br>
    <ion-button shape="round" color="tertiary" fill="outline" (click)="openISAD()">Lihat Materi</ion-button></ion-label>   
  </ion-item>

  <ion-item class="test-background">
    <img class="center-image" src="/assets/hardi.jpg" width="20%" alt=""/>
    <ion-label>Hardi Jamhur, Ir<br>Database Design<br>
    <ion-button shape="round" color="tertiary" fill="outline" (click)="openDD()">Lihat Materi</ion-button></ion-label> 
  </ion-item>

  <ion-item class="test-background">
    <img class="center-image" src="/assets/novi.jpg" width="20%" alt=""/>
    <ion-label>Novi Widiyanti<br>Algoritma<br>
    <ion-button shape="round" color="tertiary" fill="outline" (click)="openALGO()">Lihat Materi</ion-button></ion-label> 
  </ion-item>
</ion-list>

</ion-content>