<ion-header>
  <ion-toolbar color="primary"><br>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;"><img class="center-image" src="/assets/novi.jpg"  width="20%"><br>Algoritma</ion-title><br>
  </ion-toolbar>
</ion-header>


<ion-content class="test-background">
<ion-card>
  <ion-card-header>
   <!--  <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title style="text-align: center;">Deployment Diagram</ion-card-title> 
  </ion-card-header>

  <ion-card-content style="text-align: justify;">
    <ion-text style="color: black;">

    	
	Deployment diagram/diagram penyebaran merupakan diagram dengan implementasi yang menggambarkan arsitektur fisik dari perangkat keras dan perangkat lunak pada suatu sistem. Diagram ini menggambarkan komponen perangkat lunak, prosesor dan peralatan yang membentuk arsitektur sistem

		


    </ion-text>
  </ion-card-content>
</ion-card>
</ion-content>