<ion-header>
  <ion-toolbar color="primary"><br>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;"><img class="center-image" src="/assets/irma.jpg"  width="20%"><br>Information System Analysis Design</ion-title><br>
  </ion-toolbar>
</ion-header>


<ion-content class="test-background">
<ion-card>
  <ion-card-header>
   <!--  <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title style="text-align: center;">Diagram Componen</ion-card-title> 
  </ion-card-header>

  <ion-card-content style="text-align: justify;">
    <ion-text style="color: black;">

    	<ul>

	<li>Diagram Komponen adalah diagram dengan tipe implementasi, yang digunakan untuk secara grafis menggambarkan arsitektur fisik dari perangkat lunak sistem.</li><br>

	<li>Diagram tersebut dapat digunakan untuk menunjukan bagaimana kode program dibagi ke dalam modul-modul (atau Komponen) dan untuk menggambarkan ketergantuangan diantara komponen-komponen tersebut. Sebuah komponen ditunjukan dengan sebuah segi empat yang lebih kecil disebelah kiri. Ketergantungan diantara dua komponen menggambarkan bagaimana mereka berkomunikasi satu sama lain</li><br>

	<li>Hanya ada satu tipe relasi antar komponen, yaitu dependensi. Dependensi menyatakan bahwa satu komponen bergantung pada komponen lainnya.</li>

		</ul>


    </ion-text>
  </ion-card-content>
</ion-card>
</ion-content>