
<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      STIKOM BINANIAGA BOGOR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="test-background">
    <br>
    <img class="center-image" src="/assets/1.png" width="50%" alt=""/>

<ion-card>
  <ion-card-header><!-- 
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>Profile</ion-card-title>
  </ion-card-header>

  <ion-card-content style="text-align: justify;">
    <ion-text style="color: black;">
    STIKOM BINANIAGA adalah perguruan tinggi yang mengkhususkan diri di rumpun ilmu komputer, dengan membina dua program studi jenjang strata 1: Sistem Informasi dan Teknik Informatika.

   Semula berdiri dengan nama AMIK (Akademi Manajemen Informatika dan Komputer) Binaniaga pada tahun 1991. Sejak tanggal 3 November 2003 berubah menjadi Sekolah Tinggi, melalui Surat Keputusan Menteri Pendidikan Nasional Republik Indonesia Nomor : 190/D/)/2003. STIKOM Binaniaga berada di bawah naungan Yayasan Binaniaga yang juga membina perguruan tinggi STIE Binaniaga dan AMIK Bogor.

   Saat ini STIKOM Binaniaga menyelenggrakan program studi Sistem Informasi (SI), Teknik Informatika (TI), yang meliputi : kelas pagi (A), kelas malam (B), dan menerima juga mahasiswa pindahan dari perguruan tinggi lain dengan program studi yang sama. Program Studi yang diselenggarakan telah mendapat AKREDITASI dari Badan Akreditasi Nasional Perguruan Tinggi (BAN-PT). Untuk Program Studi Teknik Informatik, Akreditasi BAN PT. NO. 046/BAN-PT/Ak-XV/S1/XII/2013, dan Program Studi Sistem Informasi Akreditasi BAN PT No. 014/BAN-PT/Ak-XV/S1/VI/2012.
    </ion-text>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item class="test-background1">
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>Jl. Mayor Oking Jayaatmaja No.27</ion-label>
    <ion-button fill="outline" slot="end">View</ion-button>
  </ion-item>

 <!--  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content> -->
</ion-card>

<ion-card>
  <ion-item class="test-background1">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>Bogor - Indonesia 16124</ion-label>
  </ion-item>

  <ion-item class="test-background1">
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-label>info@stikombinaniaga.ac.id</ion-label>
  </ion-item>

  <ion-item class="test-background1">
     <ion-icon name="tablet-portrait" slot="start"></ion-icon>
    <ion-label>0251-8343980</ion-label>
  </ion-item>
<!-- 
  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-label> Status  : Terakreditasi-A</ion-label>
  </ion-item> -->
</ion-card>


</ion-content>

