<ion-header>
  <ion-toolbar color="primary"><br>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;"><img class="center-image" src="/assets/hardi.jpg"  width="20%"><br>Database Design</ion-title><br>
  </ion-toolbar>
</ion-header>


<ion-content class="test-background">
<ion-card>
  <ion-card-header>
   <!--  <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title style="text-align: center;">Cara Mendefinisikan componen </ion-card-title> 
  </ion-card-header>

  <ion-card-content style="text-align: justify;">
    <ion-text style="color: black;">

    	

	File-file apa saja yang digunakan dalam sistem / aplikasi :<br> 
	
	Pustaka (library) dan dokumen apa saja yang berhubungan dan relevan dengan aplikasi 
	Bagaimana hubungan antar dokumen –dokumen tersebut 
	Setelah mengidentifikasi dokumen/file/library selanjutnya dilakukan : <br>
	<ul>
	<li>Tentukan nama yang akan dicantumkan dalam diagram.Biasanya nama komponen dapat berupa nama file langsung yang digunakan atau suatu blok tertentu misalnya database</li>
	<li>Siapkan desain posisi Layout diagram komponen (memanjang atau menyamping)</li>
		</ul>
    </ion-text>
  </ion-card-content>
</ion-card>
</ion-content>