<ion-header>
  <ion-toolbar color="primary"><br>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;"><img class="center-image" src="/assets/julio.jpg"  width="20%"><br>Human Interaction</ion-title><br>
  </ion-toolbar>
</ion-header>


<ion-content class="test-background">
<ion-card>
  <ion-card-header><!-- 
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <!-- <ion-card-title>Materi</ion-card-title> -->
  </ion-card-header>

  <ion-card-content style="text-align: justify;">
    <ion-text style="color: black;">
   		<h3>PENGERTIAN HCI</h3><br>


          Human Computer Interaction (HCI) adalah sekumpulan proses, dialog, dan kegiatan dimana melaluinya pengguna memanfaatkan dan berinteraksi dengan komputer. Saat kita menggunakan komputer, kita sedang berinteraksi dengan komputer. Di waktu ini kita sedang memberikan perintah kepada komputer, dan sistem komputer menerima perintah kemudian ditanggapinya hingga pekerjaan kita selesai. Definisi HCI, Suatu disiplin ilmu yang menekankan pada aspek desain, evaluasi, dan implementasi dari sistem komputer interaktif untuk kegunaan manusia dengan mempertimbangkan fenomena-fenomena disekitar manusia itu sendiri.<br>

          Ada beberapa aspek yang harus diperhatikan untuk desain, evaluasi, dan implementasi dari sistem komputer interaktif untuk kegunaan manusia dengan mempertimbangkan fenomena di sekitar manusia itu sendiri. Bukan untuk mempelajari komputer ataupun manusia, tetapi untuk menjadi jembatan yang menghubungkan manusia dengan komputer.<br>

			Tujuan dari HCI adalah untuk menghasilkan sistem yang bermanfaat (usable) dan aman (safe), artinya sistem tersebut dapat berfungsi dengan baik. Sistem tersebut bisa untuk mengembangkan dan meningkatkan keamanan (safety), utilitas (utility), ketergunaan (usability), efektifitas (efectiveness) dan efisiensinya (eficiency).<br><br>
			Tujuan utama IMK adalah untuk membuat sistem yang lebih: <br> 
			<ul> 
				<li>Berguna (usable)</li>
				<li>Aman</li> 
				<li>Produktif</li> 
				<li>Efektif</li>
				<li>Efisien</li> 
				<li>Fungsional</li> 
				<li>Meningkatkan interaksi antara manusia dengan sistem komputer</li>
			</ul>

    </ion-text>
  </ion-card-content>
</ion-card>
</ion-content>