<ion-header>
  <ion-toolbar color="primary"><br>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;"><img class="center-image" src="/assets/syafrial.jpg"  width="20%"><br>Database Management System</ion-title><br>
  </ion-toolbar>
</ion-header>


<ion-content class="test-background">
<ion-card>
  <ion-card-header><!-- 
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <!-- <ion-card-title>Materi</ion-card-title> -->
  </ion-card-header>

  <ion-card-content style="text-align: justify;">
    <ion-text style="color: black;">
	   Apa itu DBMS (Database Management System)? Pengertian DBMS adalah suatu sistem atau software yang dirancang khusus untuk mengelola suatu database dan menjalankan operasi terhadap data yang diminta oleh banyak pengguna.<br>

	Tujuan utama penggunaan DBMS dalam jaringan komputer adalah untuk menghindari kekacauan dalam hal pengolahan data yang jumlahnya besar. DBMS merupakan perantara bagi pengguna dan database (baca: pengertian database), dan agar dapat berinteraksi dengan DBMS maka pengguna harus memakai bahasa database yang sudah ditentukan.<br><br>

	Ada dua jenis bahasa komputer yang dapat digunakan dalam berinteraksi dengan DBMS, yaitu:<br>

	1. Data Definition Language (DDL); digunakan untuk menggambarkan desain dari basis data secara keseluruhan, mulai dari membuat tabel baru, memuat indeks, maupun mengubah tabel.<br>
	2. Data Manipulation Language (DML); digunakan untuk memanipulasi dan mengambil data dari database, menghapus data dari database, dan mengubah data pada suatu database.<br>

    </ion-text>
  </ion-card-content>
</ion-card>
</ion-content>